[Unit]
Description=QualityOps Studio website
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/qualityopsstudio.com/app
Environment=NODE_ENV=production
Environment=PORT=3108
Environment=WRANGLER_LOG_PATH=.wrangler/wrangler.log
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
User=qualityops
Group=qualityops

[Install]
WantedBy=multi-user.target
